@media all and (min-width:600px) and (max-width:1024px)
{
    /* partie gauche */

    #bloc_page
    {
        margin: 0px auto;
        display: flex;
        flex-direction: column;
    }
    #bloc1
    {
        width: auto;
    }
    #bloc1 article, aside
    {
        padding: 20px;
        margin-right: auto;
        margin-left: auto;
    }
    
    /* partie droite */
    
    #bloc2
    {
        padding: 20px;
        width: auto;
    }
    header p
    {
        text-align: center;
    }
    h2 span
    {
        font-size: 0.8em;
    }
    .sous_titre
    {
        justify-content: center; 
    }
    .duree
    {
        margin-left: auto;
        margin-right: auto;
    }
}