@media (max-width:500px)
{
    #bloc_page
    {
        margin: auto;
        display: flex;
        flex-direction: column;
    }
    #bloc1
    {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: auto;
    }
    
    #bloc2
    {
        padding: 25px;
        margin: auto;
        width: auto;
    }

    h1
    {
        font-size: 2.5em;
    }

    #bloc1 h2
    {
        font-size: 1.6em;
    }

    #bloc2 h2
    {
        font-size: 1.6em;
    }
  
    #bloc1 article, aside
    {
        padding: 25px;
        margin-right: auto;
        margin-left: auto;
    }

    .sous_titre
    {
        margin-left: auto;
        margin-right: auto;
    }

    #bloc2 article
    {
        display: flex;
        flex-direction: column;
    }
    .duree
    {
        margin-left: auto;
        margin-right: auto;

    }

}
