@media all and (min-width:600px) and (max-width:1024px)
{
    body
    {
        width: 100%;
        margin: 0px;
    } 
    
    #bloc_page
    {
        width: 90%;
    }

    #principal
    {
        display: flex;
        flex-direction: column;
        margin: 0px;
        width: 100%;
        border-radius: 10px;
    }

    /* --------------------- partie bleue haute ------------------- */

    header
    {
        flex-direction: column;
        width: 100%;
    }
    #titre_cv h1
    {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    #titre_cv p
    {
        text-align: center;
        font-size: 1.8em;
    }
    #bloc_photo
    {
        width: 100%;
    }
    #bloc1
    {
        width: auto;
    }
    #bloc1 article, aside
    {
        margin-right: auto;
        margin-left: auto;
    }

    /* -------------------- partie blanche basse --------------- */

    #bloc2
    {
        padding: 70px;
        width: auto;
    }
    .sous_titre
    {
        justify-content: center; 
    }
    .duree
    {
        justify-content: flex-start;
    }
    .description h3, .description h4
    {
        margin-left: auto;
        margin-right: auto;
    }
}