@media screen and (min-width :100px) and (max-width:600px)
{
    body
    {
        width: 100%;
    }

    #bloc_page
    {
        width: 90%;
    }
    

    /* -------------------- partie bleu haut ----------------- */

    header
    {
        width: 100%;
        flex-direction: column;
    }
    #bloc_photo
    {
        width: 100%;
    }
    #photocv
    {
        width : 150px; height : 160px;
    }
    #titre_cv
    {
        margin: 20px auto 5px;
    }
    #titre_cv h1
    {
        font-size: 1.5em;
        text-align: center;
        margin: 0px;
    }
    #titre_cv p
    {
        font-size: 1.2em;
    }
    #principal
    {
        display: flex;
        flex-direction: column;
        margin: 0px;
        width: 100%;
        border-radius: 10px;
    }
    #bloc1
    {
        width: 100%;
        padding: 0px 0px 30px 0px;
    }
    #bloc1_section1 h2
    {
        margin-top: 0px;
    }
    #bloc1 h2, #bloc2 h2
    {
        font-size: 1.2em;
    }
    header p
    {
        font-size: 1.2em;
        text-align: center;
    }
    #bloc1 article, aside
    {
        padding: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    /* ------------------------- partie blanche basse ---------------------- */

    #bloc2
    {
        padding: 40px 0px 40px 0px;
        margin: 0px;
        width: 100%;
    }
    #bloc2 article
    {
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding: 0px;
    }
    .sous_titre
    {
        justify-content: center; 
    }
  
    .duree
    {
        margin: 0px 30px;
    }
    .description
    {
        margin: 0px 30px 40px 30px;
    }
    footer
    {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .description h3, .description h4
    {
        margin-left: auto;
        margin-right: auto;
    }
    .recommandation
    {
        padding-bottom: 0px;
    }
}
