body
{
    margin: 0px;
}
#principal
{
    display: flex;
}

/* partie haut de page photo+nom+metier */

header
{
    display: flex;
}
#bloc_photo
{
    width: 29%;
    background-color: rgb(129, 216, 243);
}
#photocv
{
    width : 170px; height : 170px;
    border: 5px solid grey;
    border-radius : 50%;
    display: block;
    margin: 50px auto;
}
#titre_cv
{
    margin: 40px 70px;
}
h1
{
    font-size: 2.8em;
    font-weight: lighter;
    margin: 50px 50px 0px 0px;
    padding-bottom: 0;
}
strong
{
    color: FFD54F;
}
header span
{   
    border-bottom: 3px solid rgb(255,213,79);
}
header p
{
    font-size: 1.8em;
}

/* partie gauche */

#bloc1
{
    display: flex;
    flex-direction: column;
    width: 29%;
    background-color: rgb(129, 216, 243);
    text-align: justify;
}
#bloc1 h2
{
    background-color: black;
    color: FFD54F;
    text-align: center;
    font-size: 1.8em;
    font-weight: normal;
    margin: 0px;
    
}
#bloc1 article, aside
{
    padding: 47px;
    font-size: 1.3em;
}
.contact_info p
{
    font-family: "Times News Roman Normal";
}
#bloc1 article
{
    font-family: 'Montserrat', sans-serif;
    flex: 1;
}
.icone_loisir
{
   display: flex;
   justify-content: space-around;  
}
.fa-globe-asia, .fa-futbol, .fa-music
{
    border: 1px solid black;
    border-radius: 50%;
    padding: 15px;
    margin: 3px;
}

/* partie droite */

#bloc2
{
    display: flex;
    flex-direction: column;
    padding: 0px 70px 50px;
}
#bloc2 h2
{
    font-size: 1.8em;
    margin-left: 30px;
    font-family: 'Trebuchet MS', sans-serif;
}
#bloc2 article
{
    padding-top: 5px;
    padding-bottom: 5px;
}
.fa-dot-circle, .fa-circle
{
    margin-right: 18px;
}
.fa-user-graduate , .fa-suitcase, .fa-edit
{
    color: rgb(64, 190, 228);
}
.sous_titre
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    border-bottom: solid rgb(129, 216, 243);
    margin: 0px 0px 20px;
}
h3
{
    font-family: "Times", sans-serif;
    font-weight: normal;
    font-size: 1.3em;
}
h4
{
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}
article
{
    display: flex;
    text-align: justify;
}
.duree , .description
{
    display: flex;
    align-items: baseline;
}
.duree
{
    flex-basis: 33.33%;
}
.description
{
    flex-direction: column;
    flex-basis: 66.66%;
}
article p
{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
}
footer
{
    display: flex;
}
#recommandation
{
    flex: 1 1;
    font-size: 1.2em;
}
